<html>
<head>
<title> Assignment Marks </title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="css/header-footer.css">
 
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <title>attendance</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="table/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/teacher_table.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  
</head>
<body style= "background-color:#ECF5FF;">
  <!--==========================
    Header Section
  ============================-->
  
<header id="header" class="fixed-top" >
    
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="../index.html"><span>Knewton Academy</span></a></h1> 
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
       <ul class="nav navbar-nav">
      <li class="Active"><a href="/teacher">Home</a></li>      
      
    </ul>
      
    </ul>
      </nav><!-- .main-nav -->
      
    </div>
 </header><!-- #header -->

<center><h1 style="margin-top: 10%"> Assignment Marks </h1>
</center>
<!--search bar-->
  <form class="search"> 
      <div id = "searchform" class=" container">
          <input type="text" id="myInput" class="form-control col-md-offset-1 col-md-5" placeholder="Search Student..">
            <button type="reset" onclick="location.reload();" class="btn btn-default" id="searchSubmit">Reset</button>
      </div>
  </form>

<!--Add Assignment-->
  <form th:action="@{/teacher/assign}" method="POST" >
  <div class="modal fade" id="assignmentDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top:200px;">
      <div class="modal-header text-center">

        <h4 class="modal-title w-100 font-weight-bold">Add Assignment Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
      <div class="modal-body mx-3">
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Assignment ID</label>
          <input type="number" name="assignmentId" class="form-control validate" maxlength="4" required>
        </div>

        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Batch Id</label>
          <select class="form-control validate" name="batchId" style="padding:7.5px;height:100%;" id="batchInsert">
            <script>
            batchInsert();
            function batchInsert(){
            var str=' <option value="'+localStorage["batch"]+'">' + localStorage["batch"] + '</option>';
            $("#batchInsert").append(str);
            }
            </script>
          </select>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Description</label>
          <input type="text" name="description" class="form-control validate" maxlength="30"  required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Total Marks</label>
          <input type="number" name="totalMarks" class="form-control validate" required>
        </div>
    <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Date</label>
          <input type="date" name="date" class="form-control validate" required>
        </div>
        
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-lg btn-success" text="Submit">
      </div>
      
    </div>
  </div>
</div>
</form>

<!--edit button-->
<div class="modal fade" id="editAssignmentResult" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Assignment Marks</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/teacher/assignedit}" method="POST">
      <div class="modal-body mx-3">	
      
      <input type="hidden" name="studentId" id="setsid">
      
       <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >AssignmentId</label>
          <select class="form-control validate" name="assignmentId" style="padding:7.5px;height:100%;" id="assignmentMarks"> 
          	<script>
          	$.getJSON('../teacher/assignment', function(data) {
                var str= "";
                
                $.each(data,function(key,value){
                	if(localStorage["batch"]==value.batchId)
                		{
              	         str+='<option value="'+value.assignmentId+'">'+value.assignmentId+'</option>';
                		}
              
                });
                $("#assignmentMarks").append(str);
                
          	});
          	
          	
            </script>
          </select>
        </div>
        
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Obtained Marks</label>
          <input type="number"  class="form-control validate" maxlength="3" minlength="1" required name="obtainedMarks">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-lg btn-success" text="Submit">
      </div>
      </form>
    </div>
  </div>
</div>


	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
			<div class="fright">
          <button type="button" data-toggle="modal" data-target="#AssignmentDetail" style="">
           <h3> <span class="glyphicon glyphicon-plus"></span></h3></button>
          </div>
					<div class="table" id="studentList">

						<div class="row header">
							<div class="cell">
								Student Id
							</div>
							<div class="cell">
								Full Name
							</div>
						
							<div class="cell">
									Performance
							</div>
							<div class="cell">
									Add Marks
							</div>
						</div>
						
					</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script type="text/javascript">
	
      $.getJSON('../teacher/student', function(data) {
          var str= "";
          $.each(data,function(key,value){
        	  if(value.status===true){
        		  for(var i=0;i<value.studentbatchmapping.length;i++)
        			  {
        		  if(localStorage["batch"]==value.studentbatchmapping[i].batchcoursemapping.batchId)
        			  {
        	  str+='<div class="row myTable">';
        	str +=  '<div class="cell" data-title="Id">'+value.studentId+'</div>';
        	str +=  '<div class="cell" data-title="Name">'+value.name+'</div>';  
        	var total=0;
		    var obtained=0;
        	for(var i = 0;i<value.resultassignment.length;i++)
        		{ 
        		    if(value.resultassignment[i].resultassignmentid.studentId==value.studentId && (value.resultassignment[i].assignment.batchId==localStorage["batch"]))
        		    		{
        		    	          total = total + value.resultassignment[i].assignment.totalMarks;
        		    	          obtained = obtained + value.resultassignment[i].obtainedMarks;
        		    		}
        		}
        	str +=  '<div class="cell" data-title="Performance">'+parseFloat(obtained/total*100).toFixed(2)+'%</div>';
        	str +=  '<div class="cell" data-title="Action"><a class="editButtonIcon"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editAssignmentResult"></span></a></div>';
        	str+='</div>';
        			  }
        	  }
        	  }
          });       
         $("#studentList").append(str);
        
         $(".editButtonIcon").click(function () {
             var sid = $(this).parent().parent()[0].firstChild.innerHTML;
           		$("#setsid").val(sid);
             });
     
         
      });
	</script>
	<script src="js/teacher.js"></script>
		<script src="js/Sub_Admin.js"></script>
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
	  </body>
	  </html>
