<html lang="en">
<head>
<title>Teacher Portal</title>
<!--PROFILE-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--PROFILE--><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


 <!--TIME TABLE CSS-->
<!--CSS for tt-->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/header-footer.css">
<!--assignment marks-->
<link rel="stylesheet" href="css/teacherportal.css">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <!--==========================
    Header Section
  ============================-->
<header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="../index.html"><span>Knewton Academy</span></a></h1> 
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a class="btn btn-outline-info my-2 my-sm-0" href="index.html">Logout</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
 </header><!-- #header -->
 

      <script type="text/javascript">
      $.getJSON('../notice', function(data) {
          var str= "";
          str +='<div class="notice-board" style="width:100%;height:40%;"><div class="panel panel-default"><div class="panel-body"><ul style="padding-left:0px;list-style:none;" id = "noticeListItems"><marquee direction="up" height = "300px" onmouseover="this.stop()" onmouseout="this.start()">';
          $.each(data,function(key,value){
        	str +=  '<li><span class="glyphicon glyphicon-expand text-success" ></span><span class="label label-danger" >'+value.title+'</span><br>'
            str+= (value.content+'<br>Date:'+value.date+'</li>');

          });
			str+='</marquee></ul></div><div class="panel-footer" data-toggle="modal" data-target="#uploadNotice"><a class="btn btn-default btn-block" > <span class="glyphicon glyphicon-level-up" ></span></a></div></div></div>';
          $("#notice").append(str);
       });
      </script>
      


 

<!--PROFILE-->

<div class="container-fluid" style="margin-top:100px;">
  <div class="row">
      <div class="col-12">
     <div class="profilecard card-inverse" style="background-color: #4169e1;  
	 font-size: 15px;">
            <div class="card-block">
			  <div class="row">
            				<div class="col-md-8 col-sm-8">
					<h2 class="card-title">Teacher Name:</h2>
					<p class="card-text"><strong>Class: </strong>  </p>
          <p class="card-text"><strong>Address: </strong> </p>
					<p><strong>Courses: </strong>
						<span class="badge bg-primary">Physics</span>
						<span class="badge bg-info">Chemistry</span>
						<span class="badge bg-warning">Biology</span>
						<span class="badge bg-success">Maths</span>
					</p>
				</div>
   	  </div>
              </div>
          </div>
  </div>
  </div>
</div>
<!--NOTICE-->
 <!--popup upload notice-->
    <div class="modal fade" id="uploadNotice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Notice Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/noteach}" method="POST">
          <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="prefix grey-text"></i>
            <label data-error="wrong" data-success="right" for="defaultForm-email">Heading</label>
            <input type="text" id="defaultForm-email" class="form-control validate" name="title">
          </div>
          <div class="md-form mb-5">
            <i class="prefix grey-text"></i>
            <label data-error="wrong" data-success="right" for="defaultForm-email">Content</label>
            <textarea id="noticeContent" name="content"></textarea>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
			<input type="submit" class="btn btn-default" name="button"/>          
        </div>
      </form>
    </div>
  </div>
</div>
       
<div class="containertt">
<!--TIME TABLE-->

<div class="limiter" id="tt" style="float:left;width:70%;">
		<div class="container-table100" id="tt">
			<div class="wrap-table100" id="tt">
			<h1 class="card-title" style="margin-left:20px;"><br>TIME TABLE:</h1>
					<div class="table" id="timt">

						<div class="row header" id="tt">
							<div class="cell" id="tt">
								Batch Id
							</div>
							<div class="cell" id="tt">
								Day
							</div>
							<div class="cell" id="tt">
              				  Time
            				</div>
            				<div class="cell" id="tt">
                				Room
              				</div>							
						</div>
				

					</div>
			</div>
		</div>
	</div>
<!--NOTICE-->

         <div id = "notice" class="row" >
                
                   
          </div> <br>  <br>
          
          </div>
<!--CARDS-->
<div class="car" style="margin-top:20px;">
<div class="container" style="font-size:12px;">
                <div class="row" id="batchList">
          <script>              
          $.getJSON('../teacher/batch', function(data) {
          var str= "";
          var i=1;
          $.each(data,function(key,value){
        	  var a=i;
        		  var empid = "E100000";
        		  localStorage["emp"]=empid;
        		 if(value.teacherbatchmappingid.employeeId==empid){
        	  str+='<div class="column zoom col-md-4" >';
        	str +=  '<div class="card card1">';
        	str +=  '<div id="'+a+'"><h3>'+value.teacherbatchmappingid.batchId+'</h3></div>';
        	str += '<h3> ' + value.batchcoursemapping.batchName+'</h3>'
        	str +=  '<p>Attendance</p><div onclick=localStorage["batch"]=(document.getElementById("'+a+'").innerText);><a href="attendance.html">click here</a></div>';
        	str +=  '<p>Assignment Marks</p><div onclick=localStorage["batch"]=(document.getElementById("'+a+'").innerText);><a href="assignmentMarks.html">click here</a></div>';
        	str +=  '</div></div>';
        		
        	  }
        		 i=i+1;
          });
         $("#batchList").append(str);
       
          var strt= "";
          
          $.each(data,function(key,value){
        	 
        		  if(localStorage["emp"]==value.teacherbatchmappingid.employeeId)
        			  {     	 
        	for(var p=0;p<value.batchcoursemapping.timetable.length;p++)
        		{
        		 strt+='<div class="row myTable" id="tt">';
        		strt +=  '<div class="cell" id="tt" data-title="Batch Id">'+value.batchcoursemapping.batchName+'</div>';
        	strt +=  '<div class="cell" id="tt" data-title="Day">'+value.batchcoursemapping.timetable[p].day+'</div>';
        	strt +=  '<div class="cell" id="tt" data-title="Time">'+value.batchcoursemapping.timetable[p].time+'</div>';
        	strt +=  '<div class="cell clo" id="tt" data-title="Room">'+value.batchcoursemapping.timetable[p].room+'</div>';
        	strt+='</div>';
        		}   
          }  
		 
  }); 
 $("#timt").append(strt);
          });
      </script>
                       
</div>
</div>
</div>
      
 <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
    </body>

 </html>
