<!DOCTYPE html>
<html lang="en">
<head>
	<title>SubAdmin Portal</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 
  <!-- Libraries CSS Files -->
<link rel="stylesheet" type="text/css" href="css/header-footer.css">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<link rel="stylesheet" href="css/Sub_Admin.css">
</head>
<body>
  <!--navbar-->
 <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="../index.html"><span>Knewton Academy</span></a></h1> 
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a class="btn btn-outline-info my-2 my-sm-0" href="index.html">Logout</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
 </header><!-- #header -->
 
  <script type="text/javascript">
      $.getJSON('../notice', function(data) {
          var str= "";
          str +='<div class="notice-board" style="width:100%;height:40%;"><div class="panel panel-default"><div class="panel-body"><ul style="padding-left:0px;list-style:none;" id = "noticeListItems"><marquee direction="up" height = "300px" onmouseover="this.stop()" onmouseout="this.start()">';
          $.each(data,function(key,value){
        	str +=  '<li><span class="glyphicon glyphicon-expand text-success" ></span><span class="label label-danger" >'+value.title+'</span><br>'
            str+= (value.content+'<br>Date:'+value.date+'</li>');

          });
			str+='</marquee></ul></div></div></div>';
          $("#notice").append(str);
       });
      </script>
      

 
  <!--PROFILE-->
<div class="container-fluid" style="margin-top: 100px;">
  <div class="rowP">
      <div class="col-12">
     <div class="card card-inverse" style="background-color: #333; border-color: #333; background-color:rgb(31,11,74);">
            <div class="card-block">
        <div class="rowP">
                    <div class="col-md-8 col-sm-8">
          <h2 class="card-title">Sub Admin Name:</h2>
          <p class="card-text"><strong>Branch: </strong>  </p>
          <button type="button" data-toggle="modal" data-target="#timetable" class="try">
           <h3> <span class="glyphicon glyphicon-plus">Add TimeTable</span></h3></button>
        </div>
    </div>
              </div>
          </div>
  </div>
  </div>
</div>

<div class="container">
<form>
<div class="modal fade" id="timetable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Time Table</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">

        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Class</label>
          <select class="form-control validate" style="padding:7.5px;height:100%;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        
              
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Time Table(in file format)</label>
           <input type="file"  class="form-control validate" name="myFile" required multiple>
        </div>


      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-lg btn-default" text="Submit">
      </div>
    </div>
  </div>
</div>
</form>

	<!--search bar-->
  <form class="search"> 
      <div class=" container">
          <input type="text" id="myInput" class="form-control col-md-offset-1 col-md-4" placeholder="Search..">
            <select class="form-control col-md-2 col-md-offset-1" id="type" onchange="myFunction()">
              <option value="none" selected disabled hidden>Class</option> 
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
            <select class="form-control col-md-2" id="type1" onchange="myFunction1()">
              <option value="none" selected disabled hidden>Course</option> 
              <option>tobe</option>
              <option>jee</option>
              <option>3</option>
              <option>4</option>
            </select>
            <button type="reset" onclick="location.reload();" class="btn btn-default" id="searchSubmit">Reset</button>
      </div>
  </form>

	<!--Add student details-->
 <form th:action="@{/subadmin/add}" method="POST">
	<div class="modal fade" id="studentDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">

        <h4 class="modal-title w-100 font-weight-bold">Add Student Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right">Student ID</label>
          <input type="text" name="studentId" class="form-control validate" maxlength="7" minlength="7" required>
        </div>

        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Student Name</label>
           <input type="text" name="name" class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Class</label>
          <select class="form-control validate" name="stuclass" style="padding:7.5px;height:100%;">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Father's Name</label>
          <input type="text" name="fatherName" class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Mother's Name</label>
           <input type="text" name="motherName" class="form-control validate" required>
        </div>
		    <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Contact Details</label>
          <input type="tel" name="contactDetails" class="form-control validate" pattern="[0-9]{10}"  maxlength="10" minlength="10" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Email ID</label>
            <input type="email" name="emailId" class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Address</label>
           <input type="text" name="address" class="form-control validate">
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Branch</label>
          <select class="form-control validate" name="branchId"style="padding:7.5px;height:100%;">
            <option value="1">Madangir</option>
            <option value="3">Malviya Nagar</option>
            <option value="2">Chirag Delhi</option>
          </select>
        </div>
  <!--       <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Batch</label>
          <select class="form-control validate" name="batchId" style="padding:7.5px;height:100%;" id="batch"> 
          	<script>
          	$.getJSON('../subadmin/batchcourse', function(data) {
                var str= "";
                $.each(data,function(key,value){
                		
              	         str+='<option value="'+value.batchId+'">'+value.batchName+'</option>';
                		
              
                });
                $("#batch").append(str);
                
                
          	}); 	
          	
            </script>
          </select>
        </div>		-->
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Test Login ID</label>
          <input type="text" name="testId" class="form-control validate">
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Test Password</label>
          <input type="text" name="testpassword" class="form-control validate">
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Total Fees</label>
          <input type="text" name="totalFees" class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Fee 1</label>
           <input type="text" name="installment1" class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Fee 2</label>
           <input type="text" name="installment2" class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Fee 3</label>
           <input type="text" name="installment3" class="form-control validate" required>
        </div>



      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-default" text="Submit">
      </div>
    </div>
  </div>
</div>
</form>
<!--edit button-->
<form th:action="@{/subadmin/edit}" method="POST" id="edit">
<div class="modal fade" id="editStudentDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit Student Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
		<input type="hidden" name="studentId">
		<input type="hidden" name="name">
		<input type="hidden" name="fatherName">
		<input type="hidden" name="motherName">
		
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Class</label>
          <select class="form-control validate" name ="stuclass" style="padding:7.5px;height:100%;">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Contact Details</label>
          <input type="tel"  class="form-control validate" name="contactDetails" pattern="[0-9]{10}"  maxlength="10" minlength="10" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Email ID</label>
            <input type="email" name="emailId" class="form-control validate">
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Address</label>
           <input type="text" name="address" class="form-control validate">
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Branch</label>
          <select class="form-control validate" name="branchId" style="padding:7.5px;height:100%;">
            <option value="1">Madangir</option>
            <option value="3">Malviya Nagar</option>
            <option value="2">Chirag Delhi</option>
          </select>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Test Login ID</label>
          <input type="text" name="testId" class="form-control validate">
        </div>
         <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Test Password</label>
          <input type="text" name="testpassword" class="form-control validate">
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Total Fees</label>
          <input type="text" name="totalFees" class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Fee 1</label>
           <input type="text" name="installment1" class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Fee 2</label>
           <input type="text" name="installment2" class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Fee 3</label>
           <input type="text"  name="installment3" class="form-control validate" required>
        </div>


      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-default" text="Submit">
      </div>
    </div>
  </div>
</div>
</form>
<!-- delete stu -->
<div class="modal fade" id="deleteStudentDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Delete Student Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/subadmin/delete}" method="POST">
      <div class="modal-body mx-3">	
      <input type="hidden" name="studentId">
      
     
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" style="text-align:center;width:100%!important;font-size:30px;margin-top:5px;" >ARE YOU SURE YOU WANT TO DELETE ???</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-default btn-lg btn-danger" value="Y E S">
      </div>
      </form>
    </div>
  </div>
</div>

<!-- edit batch -->
<div class="modal fade" id="editBatchDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Student's Batch</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/subadmin/addbatch}" method="POST" id="addbatch">
      <div class="modal-body mx-3">	
      <input type="hidden" name="studentId">
      
      	<div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Batch</label>
          <select class="form-control validate" name="batchId" style="padding:7.5px;height:100%;" id="batch"> 
          	<script>
          	$.getJSON('../subadmin/batchcourse', function(data) {
                var str= "";
                $.each(data,function(key,value){
                		
              	         str+='<option value="'+value.batchId+'">'+value.batchName+'</option>';
                		
              
                });
                $("#batch").append(str);
                
                
          	}); 	
          	
            </script>
          </select>
        </div>	
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-default btn-lg btn-success" value="SUBMIT">
      </div>
      </form>
    </div>
  </div>
</div>

<!-- delete batch -->
<div class="modal fade" id="deleteBatchDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Delete Student's Batch</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/subadmin/deletebatch}" method="POST" id="deletebatch">
      <div class="modal-body mx-3">	
      <input type="hidden" name="studentId" id="getid">
      
      	<div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Batch</label>
          <select class="form-control validate" name="batchId" style="padding:7.5px;height:100%;" id="delbatch"> 
          
          </select>
        </div>	
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-default btn-lg btn-danger" value="DELETE">
      </div>
      </form>
    </div>
  </div>
</div>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				    <div class="fright">
						<button type="button" data-toggle="modal" data-target="#studentDetail" >
           <h3> <span class="glyphicon glyphicon-plus"></span></h3></button>
					</div>
					<div class="table" id="studentlist">

						<div class="row header">
							<div class="cell">
								Id
							</div>
							<div class="cell">
								Name
							</div>
							<div class="cell">
              				  Phone 
            				</div>
            				<div class="cell">
                				Class
              				</div>
              				<div class="cell">
                				Course
              				</div>
							<div class="cell">
								Total Fees
							</div> 
							<div class="cell">
								Fee 1
							</div>
              <div class="cell">
                Fee 2
              </div>
              <div class="cell">
                Fee 3
              </div>              
              <div class="cell">
                Manage Batch
              </div>
              <div class="cell">
                Action
              </div>
							
						</div>
 <script type="text/javascript">
      $.getJSON('../subadmin/student', function(data) {
          var str= "";
          
          $.each(data,function(key,value){
        	  if(value.status===true){
        	  str+='<div class="row myTable">';
        	str +=  '<div class="cell" data-title="Id">'+value.studentId+'</div>';
        	str +=  '<div class="cell" data-title="Name">'+value.name+'</div>';
        	str +=  '<div class="cell" data-title="Phone">'+value.contactDetails+'</div>';
        	str +=  '<div class="cell clo" data-title="Class">'+value.stuclass+'</div>';
        	str +=  '<div class="cell clo1" data-title="Courses">';
        	for(var i=0;i<value.studentbatchmapping.length;i++){
        		str+= value.studentbatchmapping[i].batchcoursemapping.course.details;
        		if(i!=value.studentbatchmapping.length-1){
        			str+=', ';
        		}
        	}
        	str += '</div>';
        	str +=  '<div class="cell" data-title="TotalFees">'+value.fees.totalFees+'</div>';
        	str +=  '<div class="cell" data-title="Fee 1">'+value.fees.installment1+'</div>';
        	str +=  '<div class="cell" data-title="Fee 2">'+value.fees.installment2+'</div>';
        	str +=  '<div class="cell" data-title="Fee 3">'+value.fees.installment3+'</div>';
        	str +=  '<div class="cell" data-title="Manage Batch"><a class="editButtonIcon"><span class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#editBatchDetail"></span></a><a class="deleteBatch"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#deleteBatchDetail"></span></a></div>';
        	str +=  '<div class="cell" data-title="Action"><a class="editButtonIcon"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editStudentDetail"></span></a><span class="glyphicon glyphicon-trash delete" data-toggle="modal" data-target="#deleteStudentDetail"></span></div>';
        	str+='</div>';
        	  }
          });       
         $("#studentlist").append(str);
        
         $(".editButtonIcon").click(function () {
             var sid = $(this).parent().parent()[0].firstChild.innerHTML;
             $.each(data,function(key,value){
           	 if (value.studentId===sid){
           		$("#edit input[name=studentId]").val(value.studentId);   
           		$("#addbatch input[name=studentId]").val(value.studentId);
           		$("#edit input[name=name]").val(value.name);
           		$("#edit input[name=fatherName]").val(value.fatherName);
           		$("#edit input[name=motherName]").val(value.motherName);
           		$("#edit select[name=stuclass]").val(value.stuclass);
           		$("#edit input[name=contactDetails]").val(value.contactDetails);
           		$("#edit input[name=emailId]").val(value.emailId);
           		$("#edit input[name=address]").val(value.address);
           		$("#edit select[name=branchId]").val(value.branchId);
           		$("#edit select[name=batchId]").val(value.studentbatchmapping[0].studentbatchmappingid.batchId);
           		$("#edit input[name=totalFees]").val(value.fees.totalFees);
           		$("#edit input[name=installment1]").val(value.fees.installment1);
           		$("#edit input[name=installment2]").val(value.fees.installment2);
           		$("#edit input[name=installment3]").val(value.fees.installment3);
           		$("#edit input[name=testId]").val(value.testserieslogin.testId);
           		$("#edit input[name=testpassword]").val(value.testserieslogin.testpassword);
           	 } 
             });
           });
         
         $(".delete").click(function () {
             var sid = $(this).parent().parent()[0].firstChild.innerHTML;
            
         });
         $(".deleteBatch").click(function () {
        	 var strr= "";
        	 
          	var sid = $(this).parent().parent()[0].firstChild.innerHTML ;
          	
         $.each(data,function(key,value){
        	 $("#deletebatch input[name=studentId]").val(sid);
         	if(value.studentId===sid)
 			{
 			for(var i=0;i<value.studentbatchmapping.length;i++)
 				{
	         strr +='<option value="'+value.studentbatchmapping[i].studentbatchmappingid.batchId+'">'+value.studentbatchmapping[i].batchcoursemapping.batchName+'</option>';
 			}
 			}
         });
         $("#delbatch").append(strr);
 });

       });
      </script>						

					</div>
			</div>
		</div>
	</div>
</div>

      <!--Notice starts-->
    <div id="notice" class="row">
                
       </div>  <br> <br>
                   <!--popup upload notice-->
    <div class="modal fade" id="uploadNotice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Notice Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/nosub}" method="POST">
          <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="prefix grey-text"></i>
            <label data-error="wrong" data-success="right" for="defaultForm-email">Heading</label>
            <input type="text" id="defaultForm-email" class="form-control validate" name="title">
          </div>
          <div class="md-form mb-5">
            <i class="prefix grey-text"></i>
            <label data-error="wrong" data-success="right" for="defaultForm-email">Content</label>
            <textarea id="noticeContent" name="content"></textarea>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
			<input type="submit" class="btn btn-default" name="button"/>          
        </div>
      </form>
    </div>
  </div>
</div>
    <!--Notice Ends-->
         <!--==========================
    Footer
  ============================-->
  <div class="footer-container">
  <div class="container-fluid">
  <footer id="footer">
    <div class="footer-top">
        <div class="row rowf">

          <div class="col-lg-4 offset-lg-1 col-md-12 footer-info">
            <h3>KNEWTON ACADEMY</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact">
            <h4>HEAD OFFICE</h4>
            <p>
              5/76(1<sup>st</sup> , 2<sup>nd</sup> , 3<sup>rd</sup> Floor)<br>
               Above Kharbanda Clinic Gali No. 5, <br>
               D.D.A Flats, Madangir,<br>
                New Delhi-110062<br><br>
              <strong>Phone:</strong>+91 9873889037<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-4 col-md-12 footer-newsletter">
            <section id="contact">  
              <div class="col-lg-6">
                <h4> For Any Queries : </h4>
              <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-12">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-12">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
              </div>
              </div>
            </section>
          </div>

        </div>
    </div>

    <div class="container-fluid">
      <div class="copyright">
        &copy; Copyright <strong>Knewton Academy</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">INTERNS</a>
      </div>
    </div>
  </footer>
</div>
</div>
  <!-- #footer -->
  
   <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
 <script src="js/Sub_Admin.js"></script>
</body>
</html>