<html>
<head>
  <title>parentportal</title>
<!--PROFILE-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--PROFILE--><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="shortcut icon" type="image/png" href="assets/images/favicon.png" />

<!--TIME TABLE CSS-->
<!--CSS for tt-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

<!--HEADER FOOTER-->
<link rel="stylesheet" type="text/css" href="css/header-footer.css">
<!-- Libraries CSS Files -->
<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!--===============================================================================================-->
<!-- Bootstrap CSS File -->
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/parentportal_main.css">
<script src="js/parentportal_main.js" charset="utf-8"></script>
</head>
<body>
  <!--HEADER-->
  <header id="header" class="fixed-top">
      <div class="container">
        <div class="logo float-left">
          <h1 class="text-light"><a href="../index.html"><span>Knewton Academy</span></a></h1>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li><a class="btn btn-outline-info my-2 my-sm-0" href="index.html">Logout</a></li>
          </ul>
        </nav><!-- .main-nav -->


      </div>
   </header><!-- #header -->

<!--PROFILE-->
<div class="container-fluid" >
  <div class="row">
      <div class="col-12">
     <div class="profilecard card-inverse" style="margin-top:10%; background-color: #333; border-color: #333; border-radius: 20%;">
            <div class="card-block">
			  <div class="row">
            				<div class="col-md-8 col-sm-8" style="margin-left: 50px;">
					<h1 class="card-title"><br>Student Name:</h1>
				<h2>	<p class="card-text"><strong>Class: </strong>  </p>
          <p class="card-text"><strong>Address: </strong> </p>
					<p><strong>Courses: </strong>
						<span class="badge bg-primary">Physics</span>
						<span class="badge bg-info">Chemistry</span>
						<span class="badge bg-warning">Biology</span>
						<span class="badge bg-success">Maths</span>
					</p>
        </h2>
				</div>
   <img src="img/sub_ad_img.jpg" alt="" height="150px" style="margin-top: 40px;" >	  </div>
              </div>
          </div>
  </div>
  </div>
</div>
<!--NOTICE-->

          <div id = "notice" class="row">

                                                    <div class="notice-board">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">

                                                                <ul style="padding-left:0px;list-style:none;">
                                                                    <marquee direction="up">
                                                                      <li>
                                                                        <a href="#">
                                                                        <span class="glyphicon glyphicon-map-marker text-danger" ></span>
                                                                        Lorem ipsum dolor sit amet ipsum dolor sit amet
                                                                         <span class="label label-danger" > 35 USD </span>
                                                                            </a>
                                                                    </li>
                                                                     <li>
                                                                            <a href="#">
                                                                     <span class="glyphicon glyphicon-align-left text-success" ></span>
                                                                                  Lorem ipsum dolor sit amet ipsum dolor sit amet
                                                                                 <span class="label label-warning" > Just now </span>
                                                                            </a>
                                                                    </li>
                                                                     <li>
                                                                          <a href="#">
                                                                     <span class="glyphicon glyphicon-info-sign text-danger" ></span>
                                                                          Lorem ipsum dolor sit amet ipsum dolor sit amet
                                                                          <span class="label label-info" > 2 min chat</span>
                                                                            </a>
                                                           </li>
                                                                     <li>
                                                                          <a href="#">
                                                                     <span class="glyphicon glyphicon-comment  text-warning" ></span>
                                                                          Lorem ipsum dolor sit amet ipsum dolor sit amet
                                                                          <span class="label label-success" >GO ! </span>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                          <a href="#">
                                                                     <span class="glyphicon glyphicon-edit  text-danger" ></span>
                                                                          Lorem ipsum dolor sit amet ipsum dolor sit amet
                                                                          <span class="label label-success" >Let's have it </span>
                                                                            </a>
                                                                    </li>
                                                                    <li>
                                                                          <a href="#">
                                                                     <span class="glyphicon glyphicon-headphones  text-success" ></span>
                                                                          Lorem ipsum dolor sit amet ipsum dolor sit amet
                                                                          <span class="label label-danger" >789.0 v </span>
                                                                            </a>
                                                                    </li>
                                                                    </marquee>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  </div>

                                                    <script >
                                                                   function openTab(tabName) {
                                                                     var i, x;
                                                                     x = document.getElementsByClassName("containerTab");
                                                                     for (i = 0; i < x.length; i++) {
                                                                       x[i].style.display = "none";
                                                                     }
                                                                     document.getElementById(tabName).style.display = "block";
                                                                   }
                                                                   </script>

                                                           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<!--TIME TABLE-->
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100 ver6 m-b-110" style= "margin-right:30%; margin-left:3%">
        <table data-vertable="ver6">
          <thead>
            <tr class="row100 head">
              <th class="column100 column1" data-column="column1"></th>
              <th class="column100 column2" data-column="column2">Sunday</th>
              <th class="column100 column3" data-column="column3">Monday</th>
              <th class="column100 column4" data-column="column4">Tuesday</th>
              <th class="column100 column5" data-column="column5">Wednesday</th>
              <th class="column100 column6" data-column="column6">Thursday</th>
              <th class="column100 column7" data-column="column7">Friday</th>
              <th class="column100 column8" data-column="column8">Saturday</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row100">
              <td class="column100 column1" data-column="column1">Lawrence Scott</td>
              <td class="column100 column2" data-column="column2">8:00 AM</td>
              <td class="column100 column3" data-column="column3">--</td>
              <td class="column100 column4" data-column="column4">--</td>
              <td class="column100 column5" data-column="column5">8:00 AM</td>
              <td class="column100 column6" data-column="column6">--</td>
              <td class="column100 column7" data-column="column7">5:00 PM</td>
              <td class="column100 column8" data-column="column8">8:00 AM</td>
            </tr>

            <tr class="row100">
              <td class="column100 column1" data-column="column1">Jane Medina</td>
              <td class="column100 column2" data-column="column2">--</td>
              <td class="column100 column3" data-column="column3">5:00 PM</td>
              <td class="column100 column4" data-column="column4">5:00 PM</td>
              <td class="column100 column5" data-column="column5">--</td>
              <td class="column100 column6" data-column="column6">9:00 AM</td>
              <td class="column100 column7" data-column="column7">--</td>
              <td class="column100 column8" data-column="column8">--</td>
            </tr>

            <tr class="row100">
              <td class="column100 column1" data-column="column1">Billy Mitchell</td>
              <td class="column100 column2" data-column="column2">9:00 AM</td>
              <td class="column100 column3" data-column="column3">--</td>
              <td class="column100 column4" data-column="column4">--</td>
              <td class="column100 column5" data-column="column5">--</td>
              <td class="column100 column6" data-column="column6">--</td>
              <td class="column100 column7" data-column="column7">2:00 PM</td>
              <td class="column100 column8" data-column="column8">8:00 AM</td>
            </tr>

            <tr class="row100">
              <td class="column100 column1" data-column="column1">Beverly Reid</td>
              <td class="column100 column2" data-column="column2">--</td>
              <td class="column100 column3" data-column="column3">5:00 PM</td>
              <td class="column100 column4" data-column="column4">5:00 PM</td>
              <td class="column100 column5" data-column="column5">--</td>
              <td class="column100 column6" data-column="column6">9:00 AM</td>
              <td class="column100 column7" data-column="column7">--</td>
              <td class="column100 column8" data-column="column8">--</td>
            </tr>

            <tr class="row100">
              <td class="column100 column1" data-column="column1">Tiffany Wade</td>
              <td class="column100 column2" data-column="column2">8:00 AM</td>
              <td class="column100 column3" data-column="column3">--</td>
              <td class="column100 column4" data-column="column4">--</td>
              <td class="column100 column5" data-column="column5">8:00 AM</td>
              <td class="column100 column6" data-column="column6">--</td>
              <td class="column100 column7" data-column="column7">5:00 PM</td>
              <td class="column100 column8" data-column="column8">8:00 AM</td>
            </tr>

            <tr class="row100">
              <td class="column100 column1" data-column="column1">Sean Adams</td>
              <td class="column100 column2" data-column="column2">--</td>
              <td class="column100 column3" data-column="column3">5:00 PM</td>
              <td class="column100 column4" data-column="column4">5:00 PM</td>
              <td class="column100 column5" data-column="column5">--</td>
              <td class="column100 column6" data-column="column6">9:00 AM</td>
              <td class="column100 column7" data-column="column7">--</td>
              <td class="column100 column8" data-column="column8">--</td>
            </tr>

            <tr class="row100">
              <td class="column100 column1" data-column="column1">Rachel Simpson</td>
              <td class="column100 column2" data-column="column2">9:00 AM</td>
              <td class="column100 column3" data-column="column3">--</td>
              <td class="column100 column4" data-column="column4">--</td>
              <td class="column100 column5" data-column="column5">--</td>
              <td class="column100 column6" data-column="column6">--</td>
              <td class="column100 column7" data-column="column7">2:00 PM</td>
              <td class="column100 column8" data-column="column8">8:00 AM</td>
            </tr>

            <tr class="row100">
              <td class="column100 column1" data-column="column1">Mark Salazar</td>
              <td class="column100 column2" data-column="column2">8:00 AM</td>
              <td class="column100 column3" data-column="column3">--</td>
              <td class="column100 column4" data-column="column4">--</td>
              <td class="column100 column5" data-column="column5">8:00 AM</td>
              <td class="column100 column6" data-column="column6">--</td>
              <td class="column100 column7" data-column="column7">5:00 PM</td>
              <td class="column100 column8" data-column="column8">8:00 AM</td>
            </tr>
          </tbody>
        </table>
      </div>

<!--CARDS-->

<div id="cardcontainer" class="container" >
                <div class="row">
                        <div class="column zoom " onclick="openTab('b1');">
                          <div class="card card1">

                            <h3>Course 1</h3>
                            <p>Attendance <a href="parentportal_attandance.html"> Click here</a> </p>
                            <p>Assignment Marks<a href="parentportal_dropdown.html"> Click here</a></p>
                          </div>
                        </div>

                        <div class="column zoom " onclick="openTab('b2');">
                          <div class="card card2">
                            <h3>Course 2</h3>
                            <p>Attendance <a href="parentportal_attandance.html"> Click here</a></p>
                            <p>Assignment Marks <a href="parentportal_dropdown.html"> Click here</a></p>

                          </div>
                        </div>

                        <div class="column zoom " onclick="openTab()">
                          <div class="card card3">
                            <h3>Course 3</h3>
                            <p>Attendance <a href="parentportal_attandance.html"> Click here</a></p>
                            <p>Assignment Marks <a href="parentportal_dropdown.html"> Click here</a></p>
                          </div>
                        </div>
</div>
</div>
      <!--FEES-->
      <div class="feestable">
        <table class="table table-striped">
      <thead>

          <tr>
            <th scope="col"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> First Installment</th>
            <th scope="col"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Second Installment</th>
            <th scope="col"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Third Installment</th>
            <th scope="col">Status</th>
          </tr>

      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
      </table>

      </div>
      <!--==========================
         Footer
       ============================-->
<div class="container-fluid">
     <footer id="footer">
         <div class="footer-top">
             <div class="row">

               <div class="col-lg-4 offset-lg-1 col-md-12 footer-info">
                 <h3>KNEWTON ACADEMY</h3>
                 <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
               </div>

               <div class="col-lg-3 col-md-12 footer-contact">
                 <h4>HEAD OFFICE</h4>
                 <p>
                   5/76(1<sup>st</sup> , 2<sup>nd</sup> , 3<sup>rd</sup> Floor)<br>
                    Above Kharbanda Clinic Gali No. 5, <br>
                    D.D.A Flats, Madangir,<br>
                     New Delhi-110062<br><br>
                   <strong>Phone:</strong>+91 9873889037<br>
                   <strong>Email:</strong> info@example.com<br>
                 </p>

                 <div class="social-links">
                   <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                   <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                   <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                   <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                   <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                 </div>

               </div>

               <div class="col-lg-4 col-md-12 footer-newsletter">
                 <section id="contact">
                   <div class="col-lg-6">
                     <h4> For Any Queries : </h4>
                   <div class="form">
                   <div id="sendmessage">Your message has been sent. Thank you!</div>
                   <div id="errormessage"></div>
                   <form action="" method="post" role="form" class="contactForm">
                     <div class="form-row">
                       <div class="form-group col-lg-12">
                         <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                         <div class="validation"></div>
                       </div>
                       <div class="form-group col-lg-12">
                         <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                         <div class="validation"></div>
                       </div>
                     </div>
                     <div class="form-group">
                       <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                       <div class="validation"></div>
                     </div>
                     <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                   </form>
                   </div>
                   </div>
                 </section>
               </div>

             </div>
         </div>

         <div  id="footer" class="container">
           <div class="copyright">
             &copy; Copyright <strong>Knewton Academy</strong>. All Rights Reserved
           </div>
           <div class="credits">
             Designed by <a href="https://bootstrapmade.com/">INTERNS</a>
           </div>
         </div>
       </footer><!-- #footer -->
     </div>

      <script src="lib/jquery/jquery.min.js"></script>
       <script src="lib/mobile-nav/mobile-nav.js"></script>
    </body>
</html>
