
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--HEADER FOOTER-->
  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link rel="stylesheet" type="text/css" href="css/header-footer.css">
  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <title>Attendance</title>
  </head>
  <body>
    <!-- HEADER-->
    <header id="header" class="fixed-top">
        <div class="container">
          <div class="logo float-left">
            <h1 class="text-light"><a href="../index.html"><span>Knewton Academy</span></a></h1>
          </div>

          <nav class="main-nav float-right d-none d-lg-block">
            <ul>
              <li><a class="btn btn-outline-info my-2 my-sm-0" href="/parent">Back To Portal</a></li>
            </ul>
          </nav><!-- .main-nav -->


        </div>
     </header><!-- #header -->

    <h1 style="margin-top: 10%;"> <center> Attendance </center> </h1>
    <table class="table table-hover" style="margin-top: 20px; margin-left: 50px; margin-right: 20%;">
  <thead>
    <tr>
      <th scope="col">Class delivered</th>
      <th scope="col">Attendance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1-4-2019</td>
      <td>P</td>
    </tr>
    <tr>
      <td>2-4-2019</td>
      <td>A</td>
    </tr>
  </tbody>
</table>
  </body>
</html>
