<!DOCTYPE html>
<html lang="en">
<head>
	<title>HR portal</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- Libraries CSS Files -->
<link rel="stylesheet" type="text/css" href="css/header-footer.css">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"> 
<!--===============================================================================================-->
<link rel="stylesheet" href="css/hr.css">
</head>
<body>
  <!--navbar-->
 <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="../index.html"><span>Knewton Academy</span></a></h1> 
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a class="btn btn-outline-info my-2 my-sm-0" href="index.html">Logout</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
 </header><!-- #header -->

      <script type="text/javascript">
      $.getJSON('../notice', function(data) {
          console.log(data[0]['title']);
          var str= "";
          str +='<div class="notice-board" style="width:100%;height:40%;"><div class="panel panel-default"><div class="panel-body"><ul style="padding-left:0px;list-style:none;" id = "noticeListItems"><marquee direction="up" height = "300px" onmouseover="this.stop()" onmouseout="this.start()">';
          $.each(data,function(key,value){
        	str +=  '<li><span class="glyphicon glyphicon-expand text-success" ></span><span class="label label-danger" >'+value.title+'</span><br>'
            str+= (value.content+'<br>Date:'+value.date+'</li>');

          });
			str+='</marquee></ul></div></div></div>';
          $("#notice").append(str);
       });
      </script>
      

 
  <!--PROFILE-->
<div class="container-fluid" style="margin-top: 100px;">
  <div class="rowP">
      <div class="col-12">
     <div class="card card-inverse" style="background-color: #333; border-color: #333; background-color:rgb(31,11,74);">
            <div class="card-block">
        <div class="rowP">
                    <div class="col-md-8 col-sm-8">
          <h2 class="card-title">HR Admin Name:</h2>
          <p class="card-text"><strong>Branch: </strong>  </p>
          </div>
  </div>
  </div>
</div>
</div>
</div>
</div>

<!--search bar-->
  <form class="search"> 
      <div class=" container">
          <input type="text" id="myInput" class="form-control col-md-offset-2 col-md-4" placeholder="employee name">
             <select class="form-control col-md-2 col-md-offset-1" id="type" onchange="myFunction()">
              <option value="none" selected disabled hidden>Type</option> 
              <option>Admin</option>
              <option>Sub Admin</option>
              <option>HR</option>
              <option>Teacher</option>
              <option>Employee</option>
            </select>
           <button type="reset" onclick="location.reload();" class="btn btn-default" id="searchSubmit">Reset</button>
      </div>
  </form>
  <div class="container">
	<!--Add student details-->
<form th:action="@{/hr/add}" method="POST">
	<div class="modal fade" id="employeeDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">

        <h4 class="modal-title w-100 font-weight-bold">Add employee Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right">Employee ID</label>
          <input type="text" name="employeeId" class="form-control validate" maxlength="7" minlength="7" required>
        </div>

        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Name</label>
           <input type="text" name="name" class="form-control validate" required>
        </div>
          <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >User Type</label>
          <select class="form-control validate" name="userTypeId" style="padding:7.5px;height:100%;">
            <option value="1">Admin</option>
            <option value="2">Sub Admin</option>
            <option value="3">HR</option>
            <option value="4">Teacher</option>
            <option value="5">Employees</option>
          </select>
        </div>
		    <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Contact Details</label>
          <input type="tel" name="contactDetails" class="form-control validate" pattern="[0-9]{10}"  maxlength="10" minlength="10" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Email ID</label>
            <input type="email" name="emailId" class="form-control validate">
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Address</label>
           <input type="text" name="address" class="form-control validate">
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Salary</label>
           <input type="number" name="salary" class="form-control validate">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-default" text="Submit">
      </div>
    </div>
  </div>
</div>
</form>
<!--edit button-->
<form th:action="@{/hr/edit}" method="POST">
<div class="modal fade" id="editEmployeeDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit Employee Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <input type="hidden" name="employeeId">
      <div class="modal-body mx-3">
      <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Employee name</label>
            <input type="text" name="name" class="form-control validate">
        </div>
          <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Contact Details</label>
          <input type="tel" name="contactDetails" class="form-control validate" pattern="[0-9]{10}"  maxlength="10" minlength="10" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Email ID</label>
            <input type="email" name="emailId" class="form-control validate">
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Address</label>
           <input type="text" name="address" class="form-control validate">
        </div>
        
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >User Type</label>
           <select class="form-control validate" style="padding:7.5px;height:100%;" name="userTypeId">
            <option value="1">Admin</option>
            <option value="2">Sub Admin</option>
            <option value="3">HR</option>
            <option value="4">Teacher</option>
            <option value="5">Employees</option>
          </select>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Salary</label>
           <input type="number" name="salary" class="form-control validate">
        </div>
        </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-default" text="Submit">
      </div>
    </div>
  </div>
</div>
</form>

<!-- delete emp -->
<div class="modal fade" id="deleteEmployeeDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Delete Employee Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/hr/delete}" method="POST">
      <div class="modal-body mx-3">	
      <input type="hidden" name="employeeId">
      
     
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" style="text-align:center;width:100%!important;font-size:30px;margin-top:5px;" >ARE YOU SURE YOU WANT TO DELETE ???</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-default btn-lg btn-danger" value="Y E S">
      </div>
      </form>
    </div>
  </div>
</div>


	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				    <div class="fright">
						<button type="button" data-toggle="modal" data-target="#employeeDetail"><h3><span class="glyphicon glyphicon-plus"></span></h3></button>
					</div>
					<div class="table" id="employeelist">

						<div class="row header">
						
							<div class="cell">
								Employee ID
							</div>
							<div class="cell">
								Employee Name
							</div>
							<div class="cell">
								Employee Type
							</div> 
							<div class="cell">
								Contact Number
							</div>
              				<div class="cell">
               					 Salary
              				</div>
			              <div class="cell">
			                Action
			              </div>							
						</div>

						 <script type="text/javascript">
           
 
      $.getJSON('../hr/employee', function(data) {
          var str= "";
          $.each(data,function(key,value){
        	  if(value.status===true){
        	  str+='<div class="row myTable">';        	  
        	str +=  '<div class="cell" data-title="Employee Id">'+value.employeeId+'</div>';
        	str +=  '<div class="cell" data-title="Full Name">'+value.name+'</div>';
        	str +=  '<div class="cell clo" data-title="Type">'+value.usertype.userType+'</div>';
        	str +=  '<div class="cell" data-title="Phone No">'+value.contactDetails+'</div>';
        	str +=  '<div class="cell" data-title="Salary">'+value.salary+'</div>';
        	str +=  '<div class="cell" data-title="Action"><a class="editButtonIcon"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editEmployeeDetail"></span></a><span class="glyphicon glyphicon-trash delete" data-toggle="modal" data-target="#deleteEmployeeDetail"></span></div>';
        	str+='</div>';
        	  }
          });
          $("#employeelist").append(str);
          
          $(".editButtonIcon").click(function () {
              var eid = $(this).parent().parent()[0].firstChild.innerHTML;
              $.each(data,function(key,value){
            	 if (value.employeeId===eid){
            		$("input[name=employeeId]").val(value.employeeId);
            		$("input[name=name]").val(value.name);
            		$("select[name=userTypeId]").val(value.userTypeId);
            		$("input[name=contactDetails]").val(value.contactDetails);
            		$("input[name=emailId]").val(value.emailId);
            		$("input[name=address]").val(value.address);
            		$("input[name=salary]").val(value.salary);
            	 } 
              });
            });
          
          $(".delete").click(function () {
              var eid = $(this).parent().parent()[0].firstChild.innerHTML;
              $("#deleteEmployeeDetail input[name=employeeId]").val(eid);
          });
       });
    </script>
    		</div>
		</div>
	</div>
</div>
</div> 
      <!--Notice starts-->
   <div id = "notice" class="row">
                
   </div> <br> <br>
                 
         <!--==========================
    Footer
  ============================-->
  <div class="footer-container">
  <div class="container-fluid">
  <footer id="footer">
    <div class="footer-top">
        <div class="row rowf">

          <div class="col-lg-4 offset-lg-1 col-md-12 footer-info">
            <h3>KNEWTON ACADEMY</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact">
            <h4>HEAD OFFICE</h4>
            <p>
              5/76(1<sup>st</sup> , 2<sup>nd</sup> , 3<sup>rd</sup> Floor)<br>
               Above Kharbanda Clinic Gali No. 5, <br>
               D.D.A Flats, Madangir,<br>
                New Delhi-110062<br><br>
              <strong>Phone:</strong>+91 9873889037<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-4 col-md-12 footer-newsletter">
            <section id="contact">  
              <div class="col-lg-6">
                <h4> For Any Queries : </h4>
              <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-12">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-12">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
              </div>
              </div>
            </section>
          </div>

        </div>
    </div>

    <div class="container-fluid">
      <div class="copyright">
        &copy; Copyright <strong>Knewton Academy</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">INTERNS</a>
      </div>
    </div>
  </footer>
</div>
</div>
  <!-- #footer -->
  <script src="table/js/Employee_Table.js"></script>
   <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
<script src="js/Sub_Admin.js"></script>
</body>
</html>