
.navbar{
  background: linear-gradient(217deg, #04162B, #397CCA 70.71%),
            linear-gradient(127deg, #123052, #04162B 70.71%),
            linear-gradient(336deg, #04162B, #D3DBE5 70.71%)!important;
}
.navbar a{
  font-weight: bolder;}

/*---CARSDS AND NOTICE--*/

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;

}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.zoom {
transition: transform .2s; /* Animation */
}
.zoom:hover {
transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* Style the counter cards */
.card {
  border-radius: 5%;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  height: 100%;
}
.col2{
    width: 25%;
}
.card1{
    color: rgb(3, 20, 28);
    background: linear-gradient(#9f9bf4,#4073c9,#072455);
);

}
.card2{
    color: rgb(3, 20, 28);
    background: linear-gradient(#9f9bf4,#4073c9,#072455);

}
.card3{
    color: rgb(3, 20, 28);
    background: linear-gradient(#9f9bf4,#4073c9,#072455);
}
#car .container{
    margin-left: 10%;
    margin-top: 40px;
    float: left;
    max-width: 80%
}
#notice-board{
  float: right;
  max-width: 20%;
  margin-top: 40px;
}
#notice{
    margin-left: 10px;
  float: right;
  margin-top: 50px;
font-size: 15px;

}
#noticeContent{
  width:100%;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

/*---FEES---*/
.feestable{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
}

.feestable  tr{
  background: linear-gradient(#ebe8a5,#f99772,#dd5c31);
}
.feestable th, .feestable thead, .feestable tr{
  border: 2px solid black;
}
.feestable th{
  font-weight: bold;
}

#tt.limiter {
  width: 100%;
  margin: 0 auto;
  
}

#tt.container-table100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

#tt.wrap-table100 {
  width: 960px;
  border-radius: 10px;
  overflow: hidden;
}

#tt.table {
  width: 100%;
  display: table;
  margin: 0;
  font-size:25px;
}

@media screen and (max-width: 1295px) {
  #tt.table {
    display: block;
  }
}

#tt.row {
  display: table-row;
  background: #fff;
  padding:20px;
}

#tt.row.header {
  color: #ffffff;
  background: #6c7ae0;
}

@media screen and (max-width: 1295px) {
  #tt.row {
    display: block;
  }

  #tt.row.header {
    padding: 0;
    height: 0px;
  }

  #tt.row.header .cell {
    display: none;
  }

  #tt.row .cell:before {
    font-family: Poppins-Bold;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;
    margin-bottom: 13px;
    content: attr(data-title);
    max-width: 98px;
    display: block;
  }
}

#tt.cell {
  display: table-cell;
}

@media screen and (max-width: 1295px) {
  #tt.cell {
    display: block;
  }
}

#tt.row .cell {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

#tt.row.header .cell {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 19px;
  padding-bottom: 19px;
}

#tt.row .cell {
  width: 25%;
  padding-left: 20px;
}
#tt.table, .row {
  width: 100% !important;
}

#tt.row:not(:first-child):hover {
  background-color: #ececff;
  cursor: pointer;
}

#tt.glyphicon{
  margin:7px;
}

@media (max-width: 1295px) {
  #tt.row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  
  #tt.row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  #tt.row .cell:nth-child(1) {
    padding-left: 30px;
  }
  
  #tt.row .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: ;
    line-height: 1.2;
    font-weight: unset !important;
  }

  #tt.table, .row, .cell {
    width: 100% !important;
  }
}
#notice{
  margin-top: 50px;
  max-width: 30%;
  float: right;
}

#noticeContent{
  width:100%;
}

div#notice.row{
	padding: 0px;
}

.container-fluid
{
width:100%;
margin-top: 40px;

}
.containertt{
	width:100%;
	
}