<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Thanks</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Bootstrap CSS File -->
  	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/signup.css">
	
</head>
<body>
<header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="/index.html"><span>Knewton Academy</span></a></h1> 
      </div>
      
    </div>
 </header><!-- #header -->
 <div style="margin:10% 0%;letter-spacing:5px;line-spacing:4px;">
 	<h1 style="font-size:40px;font-family:cursive;font-weight:900;"><center>THANKS FOR REGISTERING WITH US!!<br>
 	<br>WE WILL BE CONTACTING YOU SOON...!!</center></h1>
 	</div>
 <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
        <div class="row">

          <div class="col-lg-4 offset-lg-1 col-md-12 footer-info">
            <h3>KNEWTON ACADEMY</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact">
            <h4>HEAD OFFICE</h4>
            <p>
              5/76(1<sup>st</sup> , 2<sup>nd</sup> , 3<sup>rd</sup> Floor)<br>
               Above Kharbanda Clinic Gali No. 5, <br>
               D.D.A Flats, Madangir,<br>
                New Delhi-110062<br><br>
              <strong>Phone:</strong>+91 9873889037<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-4 col-md-12 footer-newsletter">
            <section id="contact">  
              <div class="col-lg-6">
                <h4> For Any Queries : </h4>
              <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-12">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-12">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
              </div>
              </div>
            </section>
          </div>

        </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Knewton Academy</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">INTERNS</a>
      </div>
    </div>
  </footer><!-- #footer -->
 <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/mobile-nav/mobile-nav.js"></script>
</body>
</html> 