<!DOCTYPE html>
<html lang="en">
<head>
	<title>Employee Details</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="table/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="table/css/util.css">
	<link rel="stylesheet" type="text/css" href="table/css/Employee_Table.css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
</head>
<body>
  <!--navbar-->
 <!--  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        
        <a class="navbar-brand" href="#">Logo</a>
        
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
          </li>
        </ul>
      </nav> -->
	<!--search bar-->
 <form class="search"> 
      <div class=" container">
          <input type="text" id="myInput" class="form-control col-md-offset-1 col-md-6" placeholder="Search..">
            <select class="form-control col-md-2 col-md-offset-1" id="type">
              <option value="none" selected disabled hidden>Type</option> 
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
            
          <button type="reset" onclick="location.reload();" class="btn btn-default" id="searchSubmit">Reset</button>
      </div>
  </form>
  <!--Add employee details-->
  <form>
  <div class="modal fade" id="employeeDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">

        <h4 class="modal-title w-100 font-weight-bold">Add Employee Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Employee ID</label>
          <input type="text"  class="form-control validate" maxlength="7" minlength="7" required>
        </div>

        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Name</label>
          <input type="text"  class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >User Type</label>
          <select class="form-control validate" style="padding:7.5px;height:100%;">
            <option value="1">Hr</option>
            <option value="2">Teacher</option>
            <option value="3">Sub Admin</option>
            <option value="4">Admin</option>
            <option value="5">Other Employees</option>
          </select>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Contact Number</label>
          <input type="tel"  class="form-control validate" pattern="[0-9]{10}" maxlength="10" minlength="10" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Email ID</label>
          <input type="email"  class="form-control validate" required>
        </div>
    <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Address</label>
          <input type="text"  class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Salary</label>
          <input type="number"  class="form-control validate" max="999999" required>
        </div>



      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-default" text="Submit">
      </div>
    </div>
  </div>
</div>
</form>
<!--edit button-->
<div class="modal fade" id="editEmployeeDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit Employee Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">

       <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Name</label>
          <input type="text"  class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >User Type</label>
          <select class="form-control validate" style="padding:7.5px;height:100%;">
            <option value="1">Hr</option>
            <option value="2">Teacher</option>
            <option value="3">Sub Admin</option>
            <option value="4">Admin</option>
            <option value="5">Other Employees</option>
          </select>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Contact Number</label>
          <input type="tel"  class="form-control validate" pattern="[0-9]{10}" maxlength="10" minlength="10" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Email ID</label>
          <input type="email"  class="form-control validate" required>
        </div>
    <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Address</label>
          <input type="text"  class="form-control validate" required>
        </div>
        <div class="field-wrap mb-5">
          <i class="prefix grey-text"></i>
          <label data-error="wrong" data-success="right" >Salary</label>
          <input type="number"  class="form-control validate" max="999999" required>
        </div>




      </div>
      <div class="modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-default" text="Submit">
      </div>
    </div>
  </div>
</div>


  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
            <div class="fright">
            <button type="button" data-toggle="modal" data-target="#employeeDetail" style="">
           <h3> <span class="glyphicon glyphicon-plus"></span></h3></button>
          </div>
          <div class="table">

            <div class="row header">
              <div class="cell">
                Employee Id
              </div>
              <div class="cell">
                Full Name
              </div>
              <div class="cell">
                Type
              </div>
              <div class="cell">
                Phone No
              </div> 
              <div class="cell">
                Action
              </div>
              
            </div>

            <div class="row myTable">
              <div class="cell" data-title="Employee Id">
                9089877
              </div>
              <div class="cell" data-title="Full Name">
                Vincent Williamson
              </div>
              <div class="cell" data-title="Type">
                HR
              </div>
              <div class="cell" data-title="Phone No">
                99******67
              </div>
              <div class="cell" data-title="Action">
                <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editEmployeeDetail">  </span>
                <span class="glyphicon glyphicon-trash">  </span>
              </div>
              
            </div>
            <div class="row myTable">
              <div class="cell" data-title="Employee Id">
                33522
              </div>
              <div class="cell" data-title="Full Name">
                Popin Patel
              </div>
              <div class="cell" data-title="Type">
                Mjhv
              </div>
              <div class="cell" data-title="Phone No">
                9656622222
              </div>
              <div class="cell" data-title="Action">
                <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editEmployeeDetail">  </span>
                <span class="glyphicon glyphicon-trash">  </span>
              </div>
              
            </div>
            

          </div>
      </div>
    </div>
  </div>
<script src="table/js/Employee_Table.js"></script>
</body>
</html>