<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Details</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="table/vendor/bootstrap/css/bootstrap.min.css">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="table/css/util.css">
	<link rel="stylesheet" type="text/css" href="table/css/Login_Table.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="js/Sub_Admin.js"></script>
<!--===============================================================================================-->
</head>
<body>
	<!--search bar-->
	<!--search bar-->
	<form class="search"> 
      <div class=" container">
          <input type="text" id="myInput" class="form-control col-md-offset-1 col-md-6" placeholder="Search..">
            <select class="form-control col-md-2 col-md-offset-1" id="type" onchange="myFunction()">
              <option value="none" selected disabled hidden>Type</option> 
               <option>Admin</option>
            <option >Sub Admin</option>
            <option >HR</option>
            <option >Teacher</option>
            <option >Employees</option>
            <option> Students</option>
            <option> Signup</option>
            </select>
          <button type="reset" onclick="location.reload();" class="btn btn-default" id="searchSubmit">Reset</button>
      </div>
  </form>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Id
							</div>
							<div class="cell">
								Name
							</div>
							<div class="cell">
								Password
							</div>
							<div class="cell">
								Type
							</div>
						</div>
						<div class="row myTable">
							<div class="cell" data-title="Id">
								ST001232
							</div>
							<div class="cell" data-title="Name">
								Stuart bunny
							</div>
							<div class="cell" data-title="Password">
								asdnkjka@333vv#
							</div>
							<div class="cell clo" data-title="Type">
								HR
							</div>
						</div>
						<div class="row myTable">
							<div class="cell" data-title="Id">
								LI98976
							</div>
							<div class="cell" data-title="Name">
								Stuart 
							</div>
							<div class="cell " data-title="Password">
								cghfc@3$
							</div>
							<div class="cell clo" data-title="Type">
								Signup
							</div>
						</div>

						
					</div>
			</div>
		</div>
	</div>
<script src="table/js/Login_Table.js"></script>

</body>
</html>