<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Details</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="table/vendor/bootstrap/css/bootstrap.min.css">
 <!--HEADER FOOTER-->
  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link rel="stylesheet" type="text/css" href="css/header-footer.css">
  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">  
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="table/css/util.css">
	<link rel="stylesheet" type="text/css" href="table/css/Login_Table.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="js/Sub_Admin.js"></script>
<!--===============================================================================================-->
</head>
<body>
	 <header id="header" class="fixed-top">
        <div class="container">
          <div class="logo float-left">
            <h1 class="text-light"><a href="../index.html"><span>Knewton Academy</span></a></h1>
          </div>

          <nav class="main-nav float-right d-none d-lg-block">
            <ul>
              <li><a class="btn btn-outline-info my-2 my-sm-0" href="/admin">Back To Portal</a></li>
            </ul>
          </nav><!-- .main-nav -->


        </div>
     </header><!-- #header -->
	<!--search bar-->
	<form class="search"> 
      <div class=" container-fluid">
          <input type="text" id="myInput" class="form-control col-md-offset-1 col-md-6" placeholder="Search..">
            <select class="form-control col-md-2 col-md-offset-1" id="type" onchange="myFunction()">
              <option value="none" selected disabled hidden>Type</option> 
               <option>Admin</option>
            <option >Sub Admin</option>
            <option >HR</option>
            <option >Teacher</option>
            <option >Employees</option>
            <option> Students</option>
            <option> Signup</option>
            </select>
          <button type="reset" onclick="location.reload();" class="btn btn-default" id="searchSubmit">Reset</button>
      </div>
  </form>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Id
							</div>
							<div class="cell">
								Name
							</div>
							<div class="cell">
								Password
							</div>
							<div class="cell">
								Type
							</div>
						</div>
						<div class="row myTable">
							<div class="cell" data-title="Id">
								ST001232
							</div>
							<div class="cell" data-title="Name">
								Stuart bunny
							</div>
							<div class="cell" data-title="Password">
								asdnkjka@333vv#
							</div>
							<div class="cell clo" data-title="Type">
								HR
							</div>
						</div>
						<div class="row myTable">
							<div class="cell" data-title="Id">
								LI98976
							</div>
							<div class="cell" data-title="Name">
								Stuart 
							</div>
							<div class="cell " data-title="Password">
								cghfc@3$
							</div>
							<div class="cell clo" data-title="Type">
								Signup
							</div>
						</div>

						
					</div>
			</div>
		</div>
	</div>
	<script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
<script src="table/js/Login_Table.js"></script>

</body>
</html>