<!DOCTYPE html>
<html lang="en">
<head>
	<title>Signup Details</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="table/vendor/bootstrap/css/bootstrap.min.css">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="table/css/util.css">
	<link rel="stylesheet" type="text/css" href="table/css/SignUp_Table.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								Full Name
							</div>
							<div class="cell">
								Email
							</div>
							<div class="cell">
								Password
							</div>
							<div class="cell">
								Contact Details
							</div>
							<div class="cell">
									Class
								</div>
								<div class="cell">
										Course
									</div>
									<div class="cell">
											Parent Name
										</div>
										<div class="cell">
												Address
											</div>
						</div>

						

						
					</div>
			</div>
		</div>
	</div>

</body>
</html>