<!DOCTYPE html>
<html lang="en">
<head>
	<title>Student Details</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="table/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="table/css/util.css">
	<link rel="stylesheet" type="text/css" href="table/css/Student_Table.css">	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
</head>
<body>
	<!--search bar-->
  <form class="search"> 
      <div class=" container">
          <input type="text" id="myInput" class="form-control col-md-offset-1 col-md-4" placeholder="Search..">
            <select class="form-control col-md-2 col-md-offset-1" id="type" onchange="myFunction()">
              <option value="none" selected disabled hidden>Class</option> 
              <option>10</option>
              <option>12</option>
              <option>3</option>
              <option>4</option>
            </select>
            <select class="form-control col-md-2" id="type1" onchange="myFunction1()">
              <option value="none" selected disabled hidden>Course</option> 
              <option>tobe</option>
              <option>jee</option>
              <option>3</option>
              <option>4</option>
            </select>
            <button type="reset" onclick="location.reload();" class="btn btn-default" id="searchSubmit">Reset</button>
      </div>
  </form>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table" id="studentlist"> 

						<div class="row header">
							<div class="cell">
								Student Id
							</div>
							<div class="cell">
								Full Name
							</div>
							<div class="cell">
								Phone No.
							</div>
							<div class="cell clo">
								Class
							</div>
							<div class="cell clo">
								Courses
							</div>
							<div class="cell">
									Performance
							</div>
						</div>
						
							  <script type="text/javascript">
      $.getJSON('../admin/student', function(data) {
          console.log(data[0]['title']);
          var str= "";
          
          $.each(data,function(key,value){
        	  if(value.status===true){
        	  str+='<div class="row myTable">';
        	str +=  '<div class="cell" data-title="Student Id">'+value.studentId+'</div>';
        	str +=  '<div class="cell" data-title="Full Name">'+value.name+'</div>';
        	str +=  '<div class="cell" data-title="Phone No">'+value.contactDetails+'</div>';
        	str +=  '<div class="cell clo" data-title="Class">'+value.stuclass+'</div>';
        	str +=  '<div class="cell clo1" data-title="Courses">'+'tobe'+'</div>';
        	str +=  '<div class="cell" data-title="Performance">'+'tobe'+'</div>';
        	str+='</div>';
        	  }
          });
       
          str+='<div class="row myTable">';
      	str +=  '<div class="cell" data-title="Student Id">+value.studentId+</div>';
      	str +=  '<div class="cell" data-title="Full Name">+value.name+</div>';
      	str +=  '<div class="cell" data-title="Phone No">+value.contactDetails+</div>';
      	str +=  '<div class="cell clo" data-title="Class">+value.stuclass+</div>';
      	str +=  '<div class="cell clo1" data-title="Courses">jee</div>';
      	str +=  '<div class="cell" data-title="Performance">+tobe+</div>';
      	str+='</div>';
			
          $("#studentlist").append(str);
       });
      </script>
						
					</div>
			</div>
		</div>
	</div>

<script src="table/js/Student_Table.js"></script>
<script src="js/Sub_Admin.js"></script>
</body>
</html>